<!DOCTYPE html>
<html lang="ja">
    <title>Simple Chat</title>
    <link rel="stylesheet" href="simplechat.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://unpkg.com/vue@2.5.17"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <div id="app">
        <message-list></message-list>
        <message-form></message-form>
    </div>
    <!-- templates -->
    <script type="text/x-template" id="message-list">
        <ul>
            <ul class="message" v-for="item in items" :key="item._id">
                <li>name : {{ item.name }}</li>
                <li>time : {{ item.time }}</li>
                <li>message : {{ item.payload }}</li>
            </ul>
        </ul>
    </script>
    <script type="text/x-template" id="message-form">
        <div class="form">
            <form @submit.prevent="pushDataBase">
                <label><input class="input-name" v-model="name" placeholder="name"></label>
                <label><textarea class="input-msg" v-model="msg" placeholder="message"></textarea></label>
                <button type="submit">送信</button>
            </form>
        </div>
    </script>
    <!-- scripts -->
    <script src="simplechat.js"></script>
</html>